// ==========================================================================
// Panel
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.

$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included global settings files?";
}

$panel-title-font-size: 18px !default;

.c-panel {
  position: relative;

  display: block;
  margin-bottom: rem-calc($global-spacing-unit--small);

  background-color: $color-white;
  box-shadow: 0 2px 1px transparentize($color-black, .95);
  border-radius: $global-border-radius;
  border: 1px solid $color-sand--dark;
}

.c-panel__head {
  position: relative;
  padding: rem-calc($global-spacing-unit--small $global-spacing-unit);
  background-color: $color-sand--light;
  border-bottom: 1px solid $color-sand--dark;
}

.c-panel__title {
  cursor: pointer;
  display: block;
  height: auto; // reset height that has been set on another rules
  padding: 0; // reset padding that has been set on another rules
  margin: 0; // reset margin that has been set on another rules

  line-height: 1.4;
  font-weight: bold;
  font-size: rem-calc($panel-title-font-size);
}

.c-panel__body {
  padding: rem-calc($global-spacing-unit);

  > :last-child {
    margin-bottom: 0;
  }
}
