.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.u-text-small {
  font-size: rem-calc(12);
}

.u-text-pink {
  &,
  &:hover,
  &:active {
    color: $color-pink !important;
  }
}
